// Default font styles
$label-color: inherit;
$label-font: inherit;
$field-color: inherit;
$field-font: inherit;

$form-font-size: 1.1em;

// Placeholders
$placeholder-color: lighten( $field-color, 20% );
$placeholder-highlight-color: lighten( $field-color, 60% );

.content form{

    label{
    	font: 500 #{$form-font-size}/2em $label-font;
    	color: $label-color;
    }

    input[type=text],
	input[type=tel],
	input[type=email],
	input[type=password],
	.select2-choice,
    select,
    textarea{
		font: #{$form-font-size}/2em $field-font;
		color: $field-color;
		padding: 0 10px;
		border-radius: 0;
		background: #ffffff;
		border: 1px solid $field-color;
		-webkit-appearance: none;
	}

	input[type=text],
	input[type=tel],
	input[type=email],
	input[type=password],
	.select2-choice,
	select{
    	min-height: 2em;
    }

    input[type=radio],
    input[type=checkbox]{
	    margin-left: 2px;
	    float: left;
	    margin-right: 5px;
    }

    ::-webkit-input-placeholder {
	   color: $placeholder-color;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: $placeholder-color;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: $placeholder-color;
	}

	:-ms-input-placeholder {
	   color: $placeholder-color;
	}

	.ginput_container:hover,
	.ginput_container:focus{
		::-webkit-input-placeholder {
		   color: $placeholder-highlight-color;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: $placeholder-highlight-color;
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: $placeholder-highlight-color;
		}

		:-ms-input-placeholder {
		   color: $placeholder-highlight-color;
		}
	}

    textarea{
    	min-height: 150px;
    }

    select{
		appearance: none;
		text-indent: 1px;
		text-overflow: '';
		padding: 0 35px 0 10px;
	}

    input[type=submit],
    button{
    	padding: 7px 20px;
    	text-align: center;
    	display: inline-block;
		-webkit-appearance: none;
    }
}