.content form{

    label{
    	font: 500 18px/2em $label-font;
    	color: $label-color;
    }

    input[type=text],
	input[type=tel],
	input[type=email],
	input[type=password],
    select,
    textarea{
		font: 18px/2em $field-font;
		color: $field-color;
		padding: 0 10px;
		border-radius: 0;
		background: #ffffff;
		border: 1px solid $field-color;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
	}

	input[type=text],
	input[type=tel],
	input[type=email],
	input[type=password],
	select{
    	height: 2em;
    }

    input[type=radio],
    input[type=checkbox]{
	    margin-left: 2px;
	    float: left;
	    margin-right: 5px;
    }

    textarea{
    	min-height: 200px;
    }

    select{
		appearance: none;
		text-indent: 1px;
		text-overflow: '';
		padding: 0 35px 0 10px;
	}

    input[type=submit],
    button{
    	padding: 0 20px;
    	text-align: center;
    	display: inline-block;
		-webkit-appearance: none;
    }
}