/* Page background image */
body.login{
    background:url("../images/bg.jpg") !important;
}

/* Logo above form */
.login h1 a{
    background-image: url("../images/logo.png") !important;
    background-size:302px 172px !important;
    width:302px !important;
    height:172px !important;
    margin:auto !important;
    pointer-events:none;
}

/* Color of text below form */
.login #nav a, .login #backtoblog a{
    color:#1a3c33 !important;
    text-shadow:none !important;
}