/**********************\
  Clean up login page
\**********************/

/* Page background image */
body.login{
    background: url( "../images/bg.jpg" );
}

/* Logo above form */
.login h1 a{
    background-image: url( "../images/logo.png" );
    background-size: 302px 172px;
    width: 302px;
    height: 172px;
    margin: auto;
    pointer-events: none;
}

/* Color of text below form */
.login #nav a,
.login #backtoblog a{
    color: #1a3c33;
    text-shadow: none;
}
